n8n/discord-crawl-trigger.json
{
  "name": "Discord Crawl Trigger",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "3USJhhy60dNv4YfI",
          "mode": "list",
          "cachedResultName": "crawled_jobs",
          "cachedResultUrl": "/projects/hB4HgQDKYavsOvHC/datatables/3USJhhy60dNv4YfI"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1088,
        0
      ],
      "id": "d56ba365-453e-4f07-8639-b3fbee5c7ee4",
      "name": "Get row(s)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Dedup: filter out jobs already in Data Tables\nconst crawlResult = $('Call Crawler API').first().json;\nconst existingJobs = $('Get row(s)').all().map(item => item.json.job_id);\nconst existingSet = new Set(existingJobs);\n\nconst newJobs = crawlResult.jobs.filter(j => !existingSet.has(j.job_id));\nnewJobs.forEach(i => i[\"crawled_at\"] = crawlResult.crawled_at)\nreturn [{ json: { newJobs, totalCrawled: crawlResult.total_jobs, totalNew: newJobs.length, crawled_at: crawlResult.crawled_at } }];"
      },
      "id": "2f53fdd3-db38-4b0b-83d2-2c3602d9ecf9",
      "name": "Dedup Against Data Tables",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        0
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://jobs-crawler:8000/crawl",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-test",
              "value": "true"
            }
          ]
        },
        "options": {
          "timeout": 600000
        }
      },
      "id": "51a57cf9-f995-48b7-9d0f-fe68eeefa421",
      "name": "Call Crawler API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1312,
        0
      ],
      "alwaysOutputData": true,
      "retryOnFail": false,
      "notesInFlow": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1010572533529059393",
          "mode": "list",
          "cachedResultName": "Máy chủ của HNam",
          "cachedResultUrl": "https://discord.com/channels/1010572533529059393"
        },
        "channelId": {
          "__rl": true,
          "value": "1483472250291228702",
          "mode": "list",
          "cachedResultName": "nam",
          "cachedResultUrl": "https://discord.com/channels/1010572533529059393/1483472250291228702"
        },
        "content": "=Có {{ $json.totalNew }} job mới (tổng crawl: {{ $json.totalCrawled }})",
        "options": {},
        "embeds": {
          "values": []
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -416,
        0
      ],
      "id": "8587f78f-4ca6-41da-956a-776f42e764cc",
      "name": "Send a message",
      "webhookId": "442d26b9-5902-4d8a-8681-4a94fe9a0584",
      "credentials": {
        "discordBotApi": {
          "id": "VKfjjNzYtWHoTNVl",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1536,
        96
      ],
      "id": "184926bf-8906-492c-af6f-6e2806bdc6e3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ec605de2-f614-4981-acff-e5b2e0b97ca1",
              "leftValue": "={{ $json.totalNew }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -640,
        0
      ],
      "id": "fe5d7705-41e0-408f-9d75-5972a01f58ed",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1010572533529059393",
          "mode": "list",
          "cachedResultName": "Máy chủ của HNam",
          "cachedResultUrl": "https://discord.com/channels/1010572533529059393"
        },
        "channelId": {
          "__rl": true,
          "value": "1483472250291228702",
          "mode": "list",
          "cachedResultName": "nam",
          "cachedResultUrl": "https://discord.com/channels/1010572533529059393/1483472250291228702"
        },
        "content": "=Crawl lúc: {{ $json.crawled_at }}. Có {{ $json.totalCrawled }} crawled nhưng có {{ $json.totalNew }} job mới",
        "options": {},
        "embeds": {
          "values": []
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -416,
        192
      ],
      "id": "4fdbc9d6-32ca-43c8-bb5e-e1f1824f73b3",
      "name": "Send no new job",
      "webhookId": "442d26b9-5902-4d8a-8681-4a94fe9a0584",
      "credentials": {
        "discordBotApi": {
          "id": "VKfjjNzYtWHoTNVl",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "guildIds": [
          "1010572533529059393"
        ],
        "channelIds": [
          "1483472250291228702"
        ],
        "value": "!crawl",
        "additionalFields": {}
      },
      "type": "n8n-nodes-discord-trigger.discordTrigger",
      "typeVersion": 1,
      "position": [
        -1536,
        -192
      ],
      "id": "53e92dd9-44cc-4d0f-a241-56b01b5fa8fa",
      "name": "Discord Trigger",
      "credentials": {
        "discordBotTriggerApi": {
          "id": "o300lsLkmXSrCOZb",
          "name": "Discord Bot Trigger account"
        }
      }
    },
    {
      "parameters": {
        "guildIds": "1010572533529059393",
        "channelId": "1483472250291228702",
        "content": "Đã nhận được yêu cầu, đang crawl..."
      },
      "type": "n8n-nodes-discord-trigger.discordInteraction",
      "typeVersion": 1,
      "position": [
        -1312,
        -192
      ],
      "id": "c1dd2e15-2eb7-4598-b8e9-1ff430c7a928",
      "name": "Discord Interaction",
      "credentials": {
        "discordBotTriggerApi": {
          "id": "o300lsLkmXSrCOZb",
          "name": "Discord Bot Trigger account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "3USJhhy60dNv4YfI",
          "mode": "list",
          "cachedResultName": "crawled_jobs",
          "cachedResultUrl": "/projects/hB4HgQDKYavsOvHC/datatables/3USJhhy60dNv4YfI"
        },
        "matchType": "allConditions",
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "job_id": "={{ $json.job_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "raw_post",
              "displayName": "raw_post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "crawled_at",
              "displayName": "crawled_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -192,
        -192
      ],
      "id": "24ff384b-13aa-4500-8c58-b4783d9eccfc",
      "name": "Upsert row(s)",
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "newJobs",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -416,
        -192
      ],
      "id": "f5b2e1ef-63db-4438-b4da-110599b9eb03",
      "name": "Split Out"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1010572533529059393",
          "mode": "list",
          "cachedResultName": "Máy chủ của HNam",
          "cachedResultUrl": "https://discord.com/channels/1010572533529059393"
        },
        "channelId": {
          "__rl": true,
          "value": "1483472250291228702",
          "mode": "list",
          "cachedResultName": "nam",
          "cachedResultUrl": "https://discord.com/channels/1010572533529059393/1483472250291228702"
        },
        "content": " ",
        "options": {},
        "embeds": {
          "values": [
            {
              "title": "={{ $json.role || $json.job_id }}",
              "description": "={{ ($json.description || $json.raw_post || '').substring(0, 300) }}",
              "url": "={{ $json.link }}",
              "color": "={{ $json.source === 'linkedin' ? 683202 : 1603570 }}",
              "fields": {
                "values": [
                  {
                    "name": "Company",
                    "value": "={{ $json.company || 'N/A' }}",
                    "inline": true
                  },
                  {
                    "name": "Location",
                    "value": "={{ $json.location || 'N/A' }}",
                    "inline": true
                  },
                  {
                    "name": "Source",
                    "value": "={{ $json.source }}",
                    "inline": true
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -192,
        0
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Send job embed",
      "webhookId": "442d26b9-5902-4d8a-8681-4a94fe9a0584",
      "credentials": {
        "discordBotApi": {
          "id": "VKfjjNzYtWHoTNVl",
          "name": "Discord Bot account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Dedup Against Data Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Against Data Tables": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Crawler API": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Call Crawler API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send no new job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Trigger": {
      "main": [
        [
          {
            "node": "Call Crawler API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord Interaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Upsert row(s)": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send job embed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "e5d88c74-987e-4aa2-ab82-3ac01716b475",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b391716d7977ed936227d2d51116d6f87957374801474f882d8a0a1a1d9346a0"
  },
  "id": "xtapgrxnFlSwp0bA",
  "tags": []
}