n8n/discord-crawl-trigger.json
{
  "name": "Discord Crawl Trigger",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Dedup: filter out jobs already in Data Tables\nconst crawlResult = $('Call Crawler API1').first().json;\nconst existingJobs = $('Get row(s)').all().map(item => item.json.job_id);\nconst existingSet = new Set(existingJobs);\n\nconst newJobs = crawlResult.jobs.filter(j => !existingSet.has(j.job_id));\nnewJobs.forEach(i => i[\"crawled_at\"] = crawlResult.crawled_at)\nreturn [{ json: { newJobs, totalCrawled: crawlResult.total_jobs, totalNew: newJobs.length, crawled_at: crawlResult.crawled_at, existingSet: JSON.stringify(existingJobs) } }];"
      },
      "id": "1b5536df-512d-4fc8-9106-d06936029116",
      "name": "Dedup Against Data Tables1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        352
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://jobs-crawler:8000/crawl",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {
          "timeout": 600000
        }
      },
      "id": "edb277a5-b329-4530-a5f0-6b7f4084494d",
      "name": "Call Crawler API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1440,
        352
      ],
      "alwaysOutputData": true,
      "retryOnFail": false,
      "notesInFlow": false,
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ec605de2-f614-4981-acff-e5b2e0b97ca1",
              "leftValue": "={{ $json.totalNew }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -768,
        352
      ],
      "id": "47bba2f5-7483-44de-8b80-6feb102e9e14",
      "name": "If1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "guildIds": [
          "1010572533529059393",
          "1429040488958398598"
        ],
        "channelIds": [
          "1483472250291228702",
          "1485304146889408585"
        ],
        "value": "!crawl",
        "additionalFields": {}
      },
      "type": "n8n-nodes-discord-trigger.discordTrigger",
      "typeVersion": 1,
      "position": [
        -1664,
        64
      ],
      "id": "4ee00cd4-50e4-4a7e-9cac-0acf714ce47a",
      "name": "Discord Trigger1",
      "credentials": {
        "discordBotTriggerApi": {
          "id": "o300lsLkmXSrCOZb",
          "name": "Discord Bot Trigger account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "3USJhhy60dNv4YfI",
          "mode": "list",
          "cachedResultName": "crawled_jobs",
          "cachedResultUrl": "/projects/hB4HgQDKYavsOvHC/datatables/3USJhhy60dNv4YfI"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "job_id",
              "keyValue": "={{ $json.job_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "job_id": "={{ $json.job_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "raw_post",
              "displayName": "raw_post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "crawled_at",
              "displayName": "crawled_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -96,
        256
      ],
      "id": "03efd905-8615-4196-a4e8-de3569af0eb9",
      "name": "Upsert row(s)1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "newJobs",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -320,
        352
      ],
      "id": "5c3d144c-015c-4747-95fe-618f3b626332",
      "name": "Split Out1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1664,
        496
      ],
      "id": "dbf33245-c238-44ef-994d-d6d001bb3ceb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "3USJhhy60dNv4YfI",
          "mode": "list",
          "cachedResultName": "crawled_jobs",
          "cachedResultUrl": "/projects/hB4HgQDKYavsOvHC/datatables/3USJhhy60dNv4YfI"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "job_id",
              "condition": "isNotEmpty"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1216,
        352
      ],
      "id": "3417e137-f5f7-47b7-bc01-c7d7c30bc4c6",
      "name": "Get row(s)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1664,
        304
      ],
      "id": "c5d5b395-f676-49ff-9a0c-b7258a97bd27",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $('Discord Trigger1').item.json.guildId }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Discord Trigger1').item.json.channelId }}",
          "mode": "id"
        },
        "content": " ",
        "options": {},
        "embeds": {
          "values": [
            {
              "description": "={{ ($json.description || $json.raw_post || '').substring(0, 300) }}",
              "color": "={{ $json.source === 'linkedin' ? 683202 : 1603570 }}",
              "title": "={{ $json.role || $json.job_id }}",
              "url": "={{ $json.link }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -96,
        448
      ],
      "id": "abb70c57-501c-40f0-b07c-5e84a6bfa660",
      "name": "Send job embed",
      "webhookId": "442d26b9-5902-4d8a-8681-4a94fe9a0584",
      "credentials": {
        "discordBotApi": {
          "id": "VKfjjNzYtWHoTNVl",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -544,
        352
      ],
      "id": "7a52c32e-1b8b-4de5-a3b7-53065f4247c9",
      "name": "Wait",
      "webhookId": "2388df25-ee33-4dd2-aab7-679c796723ad"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "9ab920ba-5f6f-4eb5-a8e8-8269a1f4f564",
              "leftValue": "={{ $('Schedule Trigger').item.json.timestamp }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -544,
        64
      ],
      "id": "2514c4f3-361f-4c83-b47f-5e5cad57d1e6",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $json.guildId }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channelId }}",
          "mode": "id"
        },
        "content": "=Đã nhận được yêu cầu từ <@{{ $json.authorId }}>, đang crawl...",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -1440,
        16
      ],
      "id": "2998dd84-33c5-46ab-b043-9f8e4b39306a",
      "name": "Send acknowledged message",
      "webhookId": "fa170576-1681-40f3-b8e4-f4aa4a862440",
      "credentials": {
        "discordBotApi": {
          "id": "VKfjjNzYtWHoTNVl",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $('Discord Trigger1').item.json.guildId }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Discord Trigger1').item.json.channelId }}",
          "mode": "id"
        },
        "content": "=Có {{ $json.totalNew }} job mới (tổng crawl: {{ $json.totalCrawled }})",
        "options": {},
        "embeds": {
          "values": []
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -320,
        160
      ],
      "id": "39c420fa-93d4-4252-940a-17cc02dce9f7",
      "name": "Send normal report",
      "webhookId": "442d26b9-5902-4d8a-8681-4a94fe9a0584",
      "credentials": {
        "discordBotApi": {
          "id": "VKfjjNzYtWHoTNVl",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $('Discord Trigger1').item.json.guildId }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Discord Trigger1').item.json.channelId }}",
          "mode": "id"
        },
        "content": "=Chào buổi sáng. Bảng job hôm nay: Có {{ $json.totalNew }} job mới (tổng crawl: {{ $json.totalCrawled }})",
        "options": {},
        "embeds": {
          "values": []
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -320,
        -32
      ],
      "id": "4d1674a5-7137-4cf9-b439-2dee3752116d",
      "name": "Send morning report",
      "webhookId": "442d26b9-5902-4d8a-8681-4a94fe9a0584",
      "credentials": {
        "discordBotApi": {
          "id": "VKfjjNzYtWHoTNVl",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $('Discord Trigger1').item.json.guildId }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Discord Trigger1').item.json.channelId }}",
          "mode": "id"
        },
        "content": "=Crawl lúc: {{ $json.crawled_at }}. Có {{ $json.totalCrawled }} crawled nhưng có {{ $json.totalNew }} job mới",
        "options": {},
        "embeds": {
          "values": []
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -544,
        544
      ],
      "id": "b8a21c24-2aaa-48c7-be6e-c11df5e67147",
      "name": "Send no new job",
      "webhookId": "442d26b9-5902-4d8a-8681-4a94fe9a0584",
      "credentials": {
        "discordBotApi": {
          "id": "VKfjjNzYtWHoTNVl",
          "name": "Discord Bot account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Dedup Against Data Tables1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Crawler API1": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send no new job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Trigger1": {
      "main": [
        [
          {
            "node": "Call Crawler API1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send acknowledged message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Upsert row(s)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send job embed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Call Crawler API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Dedup Against Data Tables1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Call Crawler API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send job embed": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send morning report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send normal report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Ho_Chi_Minh",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "fd8dcce8-37fc-47db-a8b3-cd8a8e5e6ad4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b391716d7977ed936227d2d51116d6f87957374801474f882d8a0a1a1d9346a0"
  },
  "id": "xtapgrxnFlSwp0bA",
  "tags": []
}